// Upload

.c-upload {
	height: 205px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 24px;
	border-radius: 6px;
	border: dashed 1px #cfd6dd;
	background-color: var(--color-neutral-white-100);
  position: relative;

	&--action {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 16px;
		overflow: hidden;
	}

	&--clear {
		border: 0.5px solid rgba(110, 113, 145, 0.4);
    border-radius: 8px;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 4px;
		cursor: pointer;
	}

	&__label {
		align-self: stretch;
		flex-grow: 0;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #272e35;

		strong {
			color: #4DB050;
		}
	}

	&__describe {
		align-self: stretch;
		flex-grow: 0;
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #555f6d;
	}

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 0;
    opacity: 0;
		cursor: pointer;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 16px;

		img {
			width: 100%;
			height: 100px;
			object-fit: cover;
			max-width: 100px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		position: relative;
    gap: 8px;
	}
}
