.progress {
  width: 90%;
  height: 8px;
  background: #f0f0f0;
  overflow: hidden;
  margin-top: 8px;

  .progress-bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #5c42ff, #8673fd);
  }
}
