.deposit-wrapper {
  
  background: rgba(255, 255, 255, 1);
  margin: 45px 24px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;
  align-items: flex-start;
  &.full {
    grid-template-columns: auto;
    justify-content: center;
  }
  //&.full .deposit-content {
  //  max-width: 536px;
  //}
  p {
    margin: 0;
  }
  .deposit-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: auto;
    border-radius: 12px;
    border: 1px solid rgba(234, 237, 240, 1);
    padding: 24px;
    box-shadow: 0px 10px 20px 0px rgba(37, 37, 37, 0.10);
    box-sizing: border-box;
    max-width: 860px;
    &.height-custom {
      max-height: 150px;
    }
    &__title {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 0;
      p {
        color: rgba(27, 36, 44, 1);

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
      }
    }
    &__notice {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .notice-title {
        font-size: 12px;
        color: #f2415a;
        font-style: italic;
      }
      .notice-content {
        font-size: 12px;
        font-style: italic;
      }
    }
    &__line {
      display: flex;
      flex-direction: column;

      .line-solid {
        width: 100%;
        border: solid 1px rgba(234, 237, 240, 1);
      }
      .line-dotted {
        width: 100%;
        border: dotted 1px rgba(234, 237, 240, 1);
      }
    }
    &__hours {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        &.txt {
          color: #40405b;
          color: #40405B;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        &.number {
          color: rgba(85, 95, 109, 1);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.16px;
        }
      }
    }
    &__total-hours {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        &.txt {
          color: #40405B;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &.number {
          color: rgba(85, 95, 109, 1);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.16px;
        }
      }
    }
    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--amount {
        color: rgba(27, 36, 44, 1);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
      }
      &--price {
        color: #5050ff;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.2px;
      }
    }
    &__action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn-small {
        border-radius: 8px;
        background: #4949E8;
        box-shadow: 0px 1px 2px 0px rgba(17, 12, 34, 0.08);
        color: #F4F5F9;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  .deposit-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    //width: auto;
    //border-radius: 12px;
    //border: 1px solid rgba(234, 237, 240, 1);
    //padding: 24px;
    max-width: 860px;
    .input-card-custom {
      input {
        padding:7px 20px 7px 12px
      }
    }
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &__action {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        justify-content: center;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid #dedeec;
        background: #fff;
        box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
        cursor: pointer;
      }
    }
    &--content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-height: 65vh;
      //overflow:scroll
    }
    .c-select {
      &.disabled {
        opacity: 1;
      }
      svg {
        display: none
      }
    }
  }
}
