.tab-container {
  width: 100%;
  max-width: 1146px;
  margin: auto auto 25px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;

  .tab-content {
    border-top: none;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .joined {
      background: #fff;
      padding: 24px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    .disconnected {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;
      padding: 0 24px;

      .c-ml__last-text {
        padding-bottom: 0;
        justify-content: space-between;
      }
    }
  }

  .c-ml__last-text {
    padding-bottom: 38px;
  }
}

.tabs {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 2px solid #E9E9F2;
  border-radius: 12px;
  gap: 6px;
  background: #F8F8FD;
  padding: 4px;

  &-heading {
    display: grid;
    align-items: center;
    // grid-template-columns: 1fr 69px;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
    background: #fff;
    padding: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &__page {
      min-width: 60px;
      border: 2px solid #E9E9F2;
      background: #F0F0F6;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      border-radius: 12px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      color: #060607;
    }

    &__search {
      position: relative;

      &--icon {
        position: absolute;
        left: 12px;
        right: auto;
        top: auto;
        bottom: 50%;
        transform: translate(0, 50%);
        z-index: 2;
      }

      .input-text {
        border: 2px solid #E9E9F2;
        padding: 8px 40px 8px 40px;
      }
    }
  }

  .tab-button {
    flex: 1;
    border: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: unset;
    outline: unset;
    color: #A3A3BA;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 182px;

    &.active {
      background-color: #5050FF;
      color: #fff;
    }
  }

  .nav-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background: #F0F0F6;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &.right {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

.open-model-button {
  width: auto;
  height: 100%; /* Đảm bảo cùng chiều cao với các phần khác */
  min-width: 69px; /* Đặt min-width nếu cần */
  padding: 8px 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}